---
title: Cartography
description: Map making was an interest I discovered after riding some local mountain bike trails and wanting to give back to the community.
---

<h2>Adobe Illustrator</h2>

<p>These mountain biking maps were created using Adobe Illustrator.</p>

<% data.maps.each do |map| %>
  <a href="/images/maps/<%= map.filename %>"><%= image_tag "maps/" + map.filename, resize_to: '320x240', class: 'img-thumbnail' %></a>
<% end %>
