---
title: Hello!
description: My name is Brian Kelly. I am a software developer by day and a geek most of the rest of the time. I currently live in Brooklyn, NY.
---

Here are some other places on the Internet that you can find me:

- <a class="external" href="http://music.spilth.org">Bandcamp</a>
- <a class="external" href="https://soundcloud.com/spilth">SoundCloud</a>
- <a class="external" href="https://twitter.com/spilth">Twitter</a>

